._*
node_modules
.wink-runner
/logs
.vscode
dist
dist.tar.gz
__debug_bin*
packager/Mobile-Dev/unpackage/release
packager/Mobile-Dev/unpackage/cache
packager/Mobile/unpackage/release
packager/Mobile/unpackage/cache
.DS_Store
docker_test